h1{
    color: #000000;
    background-color: #F29A86;
}

h2{
    color: #000000;
    background-color: #BD87BB;
}

p{
    background-color: #58C3BB;
}

.bod{
    background-color: #D3D0CB;
}